= table.row :title
= table.row :body
= table.row(:tags) do |resource|
  - tag_labels_for(resource)
= table.association :creator, label_method: ->(r) { r.try_all(*Itsf::Backend.resource_title_methods) }
= table.association :updater, label_method: ->(r) { r.try_all(*Itsf::Backend.resource_title_methods) }
= table.timestamp :published_at, format: :short
= table.timestamps format: :short